@import url(https://fonts.googleapis.com/css?family=Montserrat);
a {
  color: white;
  text-decoration: none;
}

.ai-intro-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 10px 150px rgba(0, 0, 0, 0.1);
  background: rgba(198, 216, 211, 0.9058823529);
  z-index: 1;
}
.ai-intro-tabs-container--top {
  position: fixed;
  top: 0;
}

.ai-intro-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #333;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1.3rem;
}
.ai-intro-tab:hover {
  color: #fff;
  background: rgba(47, 77, 67, 0.8431372549);
  transition: all 0.5s ease;
  border-radius: 5px;
}

.ai-intro-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 10px;
  background: rgba(47, 77, 67, 0.8431372549);
  transition: left 0.3s ease;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

input[type=text],
input[type=email],
textarea {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
}

input[type=submit] {
  background-color: #4caf50;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.ai-intro-tabs {
  background-image: url("/assets/images/header-back-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 0 2em;
}
.ai-intro-tabs h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.ai-intro-tabs h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
.ai-intro-tabs .logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 10px;
  font-size: 19px;
  width: 300px;
  color: #f7f4f4;
}

.container {
  display: flex;
  /*   border:1px solid red; */
  height: 100%;
  align-items: center;
}

svg {
  display: block;
  font: 10.5em "Montserrat";
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 8% 25%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: rgba(58, 85, 77, 0.9058823529);
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: rgba(198, 216, 211, 0.9058823529);
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #fff;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: rgba(198, 216, 211, 0.9058823529);
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fff;
  animation-delay: -5s;
}

.text-copy:nth-child(6) {
  stroke: rgba(152, 182, 172, 0.9058823529);
  animation-delay: -6s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  position: relative;
  margin: 0px 0 20px 0;
  background: #eee;
  text-align: center;
  padding: 0 3em 0em 0;
  /* Start Landing Page */
  /* End Landing Page */
}
#home h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#home h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
#home .myself-img {
  display: flex;
  background-image: url("/assets/images/portfolio-back.jpg");
  width: 80%;
  height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0 0 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.658);
}
#home .myself {
  background-color: rgba(0, 0, 0, 0.671);
  width: 50%;
  height: 100%;
  z-index: 0;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 20px;
  margin-left: auto;
}
#home .myself p {
  margin: 0;
  letter-spacing: 0.2rem;
}
#home .landing-page {
  position: relative;
  background-color: #FFF;
  width: 78%;
  height: 40%;
  margin-bottom: 30px;
  padding: 20px;
}
#home .landing-page .header-area {
  display: flex;
  padding: px 0 0;
  position: relative;
}
#home .landing-page .header-area .links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}
#home .landing-page .header-area .links li {
  display: inline-block;
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
}
#home .landing-page .header-area .links li:last-child {
  border: 0;
  border-radius: 20px;
  padding: 10px 18px;
  color: #FFF;
  background-color: #6c63ff;
}
#home .landing-page .info {
  width: 35%;
  float: left;
  margin: 80px 80px;
}
#home .landing-page .info h2 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}
#home .landing-page .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
#home .landing-page .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.699);
  color: #FFF;
  background-color: rgba(47, 77, 67, 0.7254901961);
}
#home .landing-page .info button:hover {
  color: #fff;
  background: rgba(47, 77, 67, 0.8431372549);
  transition: all 0.5s ease;
  border-radius: 5px;
}
#home .landing-page .image {
  width: 40%;
  height: 30%;
  float: right;
  margin-top: 18px;
}
#home .landing-page .image img {
  max-width: 80%;
}
#home .clearfix {
  clear: both;
}

#about {
  background-image: url("/assets/images/service-back-2.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
  margin: 10px 0;
  background-size: cover;
  background-position: center;
}
#about h1 {
  margin: 0;
  letter-spacing: 1rem;
  font-size: 44px;
  line-height: 1.4;
}
#about h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.about-info-wrap {
  color: #eee;
  max-width: 90%;
  height: 90%;
}

.about-info {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.about-info .para-1, .about-info .para-2 {
  background: rgba(51, 51, 51, 0.7333333333);
  margin: 0 20px 0 10px;
}

.about-info .info-img {
  width: 40%;
  height: 30%;
  float: left;
  margin-top: 18px;
}

.about-info img {
  width: 90%;
  height: 300px;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 0 2em;
  margin: 20px 0;
}
#services h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#services h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

#portfolio {
  background-image: url("/css/src/utility/images/portfolio-back.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #000;
  background: #eee;
  text-align: center;
  margin: 20px 0;
}
#portfolio h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#portfolio h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

#contact {
  background-image: url("/assets/images/contact-back-3.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 10px 0;
}
#contact h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#contact h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

@media (min-width: 700px) {
  .ai-intro-tabs h1,
  .ai-slide h1 {
    font-size: 3rem;
  }
  .ai-intro-tabs h3,
  .ai-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */