a {
  color: white;
  text-decoration: none;
}

.ai-intro-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.ai-intro-tabs-container--top {
  position: fixed;
  top: 0;
}

.ai-intro-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
}
.ai-intro-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.ai-intro-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

input[type=text],
input[type=email],
textarea {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
}

input[type=submit] {
  background-color: #4caf50;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.ai-intro-tabs {
  background-image: url("/css/src/utility/images/header-back-1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 0 2em;
}
.ai-intro-tabs h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.ai-intro-tabs h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background: #eee;
  text-align: center;
}
#home h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#home h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

#about {
  background-image: url("/css/src/utility/images/about-back.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}
#about h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#about h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

#services {
  background-image: url("/css/src/utility/images/service-back-2.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 0 2em;
}
#services h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#services h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

#portfolio {
  background-image: url("/css/src/utility/images/portfolio-back.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
#portfolio h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#portfolio h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

#contact {
  background-image: url("/css/src/utility/images/contact-back-3.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#contact h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
#contact h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

@media (min-width: 700px) {
  .ai-intro-tabs h1,
  .ai-slide h1 {
    font-size: 3rem;
  }
  .ai-intro-tabs h3,
  .ai-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */