#home {
  // background-image: url("/css/src/utility/images/");
  display: flex;
  flex-direction: column;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(1, 1fr);
  // grid-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  // background-size: cover;
  // background-position: center;
  margin: 10px 0;
  // color: #fff;
  // background: #eee;
  text-align: center;
  // padding: 0 2em;
  h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  // .card{
  //   grid-column: 2/2;
  //   background-image: url("/css/src/utility/images/contact-back-2.jpg");
  //   width: 100%;
  //   height: 100vh;
  //   background-size: cover;
  // }

  .myself-img {
    display: flex;
    background-image: url("/css/src/utility/images/portfolio-back.jpg");
    width: 70%;
    height: 50%;
    background-size: cover;
    // width: 736px;
    // height: 352px;
    // background-size: 736px 352px;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
  }

  .myself {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 100%;
    box-shadow: 100px 0 30px 0 rgba(0, 0, 0, 0.5);
    z-index: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
  }

  .card {
    position: relative;
    width: 70%;
    // max-width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
    // grid-column: 2/2;
    // width: 100%;
    // height: 100vh;
    background-color: rgba(215, 233, 250, 0.527);
    margin: 30px 0;
    border-radius: 20px;
  }
  .card:hover {
    width: 60%;
    transition-delay: 0.5s;
  }
  .card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card .circle::before {
    content: "";
    position: absolute;
    top: 30;
    left: 2;
    right: 2;
    width: 70%;
    height: 90%;
    border-radius: 50%;
    background: #191919;
    border: 8px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
  }
  .card:hover .circle::before {
    transition-delay: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--clr);
  }
  .card .circle .logo {
    position: relative;
    width: 250px;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .card:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
  }
  .card .product_img {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
  }
  .card:hover .product_img {
    transition-delay: 0.75s;
    top: 55%;
    left: 82%;
    height: 320px;
    transform: translate(-50%, -50%) scale(1) rotate(15deg);
  }
  .card .content {
    position: absolute;
    width: 60%;
    left: 10%;
    padding: 20px 20px 20px 20px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
  }
  .card:hover .content {
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 3px;
    margin-top: 15px;
  }
  .card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.3em;
  }
  .card .content p {
    color: #fff;
  }
  .card .content a {
    position: relative;
    color: #fff;
    background: #222222;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
  }
}
