#home {
  // background-image: url("/css/src/utility/images/");
  display: flex;
  flex-direction: column;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(1, 1fr);
  // grid-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 120vh;
  position: relative;
  // background-size: cover;
  // background-position: center;
  margin: 0 20px 0 0;
  // color: #fff;
  background: #eee;
  text-align: center;
  // padding: 0 2em;
  h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  // .card{
  //   grid-column: 2/2;
  //   background-image: url("/css/src/utility/images/contact-back-2.jpg");
  //   width: 100%;
  //   height: 100vh;
  //   background-size: cover;
  // }

  .myself-img {
    display: flex;
    background-image: url("/css/src/utility/images/portfolio-back.jpg");
    width: 80%;
    height: 40%;
    background-size: cover;
    // width: 736px;
    // height: 352px;
    // background-size: 736px 352px;
    background-repeat: no-repeat;
    margin: 20px 0 0 0;
    // border-radius: 20px;
    box-shadow: 0 10px 150px rgba(0, 0, 0, 0.664);
  }

  .myself {
    background-color: rgba(0, 0, 0, 0.897);
    width: 40%;
    height: 100%;
    box-shadow: 100px 0 30px 0 rgba(0, 0, 0, 0.836);
    z-index: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border-radius: 20px;
    
  }

/* Start Landing Page */

.landing-page {
    position: relative;
    background-color: #FFF;
    width: 78%;
    height: 50%;
    margin: 50px 0 20px 0;
    padding: 20px;
}

.landing-page .header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
}

.landing-page .header-area .logo {
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    font-size: 19px;
    width: 300px;
    color: #f7f4f4;
}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
}

.landing-page .header-area .links li:last-child {
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .info {
    width: 35%;
    float: left;
    margin-top: 130px;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #5d5d5d;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .image {
    width: 40%;
    height: 30%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img {
    max-width: 80%;
}

.clearfix {
  clear: both;
}

/* End Landing Page */
  
}
