#portfolio {
  // background-image: url('/assets/images/portfolios/port-back2.jpg');
  background:#c6d8d3e7;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  // height: 200vh;
  // background-size: cover;
  // background-position: center;

  .container-port {
    width: 100%;
    height: 100%;
  }

  #categories{
    overflow:hidden;
    width:90%;
    margin:10px auto;
  }
  .clr:after{
    content:"";
    display:block;
    clear:both;
  }
  #categories li{
    position:relative;
    list-style-type:none;
    width:27.85714285714286%; /* = (100-2.5) / 3.5 */
    padding-bottom: 32.16760145166612%; /* =  width /0.866 */
    float:left;
    overflow:hidden;
    visibility:hidden;
   
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(3n+2){
    margin:0 1%;
  }
  #categories li:nth-child(6n+4){
    margin-left:0.5%;
  }
  #categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
    margin-bottom:0%;
  }
  #categories li *{
    position:absolute;
    visibility:visible;
  }
  #categories li > div{
    width:100%;
    height:100%;
    text-align:center;
    color:#fff;
    overflow:hidden;

    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);

    // Ensure the back face is hidden for compatibility
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; // Safari & Chrome
    -ms-backface-visibility: hidden; // IE
  }

  
  /* HEX CONTENT */
  #categories li img{
    left:-100%; right:-100%;
    width: auto; height:100%;
    margin:0 auto;   
  }
  
  #categories div h1, #categories div p{
    width:90%;
    padding:0 5%;
    background-color:#008080; background-color: rgba(0, 128, 128, 0.8);
    font-family: 'Raleway', sans-serif;
    
    -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  }
  #categories li h1{
    bottom:110%;
    font-style:italic;
    font-weight:normal;
    font-size:1.5em;
    padding-top:100%;
    padding-bottom:100%;
  }
  #categories li h1:after{
    content:'';
    display:block;
    position:absolute;
    bottom:-1px; left:45%;
    width:10%;
    text-align:center;
    z-index:1;
    border-bottom:2px solid #fff;
  }
  #categories li p{
    padding-top:50%;
    top:110%;
    padding-bottom:50%;
  }
  
  
  /* HOVER EFFECT  */
  
  #categories li div:hover h1 {
    bottom:50%;
    padding-bottom:10%;
  }
  
  #categories li div:hover p{
    top:50%;
    padding-top:10%;
  }

  // Header animations
  .line-title {
    position: relative;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  h3 {
    margin-bottom: 8px;
    padding-bottom: 0px;
    font-size: 45px;
    line-height: 28px;
    font-weight: 600;
    position: relative;
    // text-transform: capitalize;
    color: #f2f2f2;
  }

  .loader span {
    color: #5b9280;
    text-shadow: 0 0 0 #98f7d7d7;
    animation: loading 2s ease-in-out infinite alternate;
  }

  @keyframes loading {
    to {
      text-shadow: 20px 0 70px #5b9280;
      color: #000000;
    }
  }

  .loader span:nth-child(2) {
    animation-delay: 0.1s;
  }

  .loader span:nth-child(3) {
    animation-delay: 0.2s;
  }
  .loader span:nth-child(4) {
    animation-delay: 0.3s;
  }
  .loader span:nth-child(5) {
    animation-delay: 0.4s;
  }
  .loader span:nth-child(6) {
    animation-delay: 0.5s;
  }
  .loader span:nth-child(7) {
    animation-delay: 0.6s;
  }
  .loader span:nth-child(8) {
    animation-delay: 0.7s;
  }
  .loader span:nth-child(9) {
    animation-delay: 0.8s;
  }

  .line-title::before,
  .line-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
    animation-duration: 2s; /* Set the duration of the animation */
    animation-iteration-count: infinite;
  }

  .line-title::before {
    width: 100%;
    background: #f2f2f2;
    animation-name: line-animation;
  }
  .line-title::after {
    width: 50%;
    background: #5b9280d7;
    animation-name: line-animation;
    
  }
  @keyframes line-animation {
    0% {
      transform: scaleX(0); /* Start with no width */
    }
    50% {
      transform: scaleX(1); /* Expand the width to full */
    }
    100% {
      transform: scaleX(0); /* Reduce the width back to 0 */
    }
  }

}