$primary-color: #6c63ff;

// navigations 
$nav-back-color: #c6d8d3d7;
$slider-color: #333;
// $nav-shadow-color: 0 10px 150px rgba(0, 0, 0, 0.1);
$nav-text-color: #001829;
$nav-hover-back: #33333391;
$nav-hover-text-color: #fff;