

.ai-intro-tabs-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 10px 150px rgba(0, 0, 0, 0.1);
    background: $nav-back-color;
    z-index: 1;
    &--top {
        position: fixed;
        top: 0;
    }
}

.ai-intro-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: $nav-text-color;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 1.3rem;
	  &:hover {
			color:$nav-hover-text-color;
      background: #6c63ff;
			transition: all 0.5s ease;
      border-radius: 5px;
    }
}

.ai-intro-tab-slider{
    position: absolute;
    bottom: 0;
    width: 0;
    height: 10px;
    background: #6c63ff;
    transition: left 0.3s ease;
    border-radius: 5px;
}